:root {
  --font-pops: "Poppins", sans-serif;
  --main-bg: #d4dbe9;
  --container-bg: white;
  --question-bg: #e4e4e4;
  --button-bg: #1dc877;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg);
  font-family: var(--font-pops);
  min-height: 100vh;
}
button {
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
  margin: 0 auto;
  background-color: var(--container-bg);
  border-radius: 25px;
  padding: 2rem;
  margin-top: 4rem;
}

/** Main Title **/
.questions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.question {
  position: relative;
  background-color: var(--question-bg);
  border-radius: 25px;
}
.question-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.2rem 0.8rem;
}

.questions-btn {
  float: right;
  border: none;
  background: transparent;
  font-size: 1rem;
}

/*** Hide Text ***/
.question-text {
  display: none;
  padding: 10px;
}

.show-text .question-text {
  display: inline-block;
  padding: 15px;
  color: gray;
}

.minus-icon {
  display: none;
}

.show-text .minus-icon {
  display: inline-block;
}
.show-text .plus-icon {
  display: none;
}

.read-more {
  width: 100%;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-family: var(--font-pops);
  background-color: var(--button-bg);
  color: var(--container-bg);
  letter-spacing: 4px;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
}

/** Media Queries **/

@media only screen and (max-width: 1025px) {
  .main-container {
    width: 55%;
  }
}
@media only screen and (max-width: 800px) {
  .main-container {
    width: 65%;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    width: 80%;
  }
}
@media only screen and (max-width: 480px) {
  .main-container {
    width: 90%;
  }
}
